<%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
<%= yield :javascripts %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');

  function store_zone_points(polygon) {
    var points = [];
    for (var i = 0; i < polygon.getPath().getLength(); i++) {
        var coordinates = []
        coordinates.push(polygon.getPath().getAt(i).lat());
        coordinates.push(polygon.getPath().getAt(i).lng());
        points.push(coordinates)
    }
    var coordinates = []
    coordinates.push(polygon.getPath().getAt(0).lat());
    coordinates.push(polygon.getPath().getAt(0).lng());
    points.push(coordinates)
    document.getElementById("company_zone_area_limits_array").value = JSON.stringify(points);
  }

  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    is_read_only = "<%=read_only%>"
    new_obj = "<%=zone_points.nil?%>"

    //New
    if (new_obj==="true") {
      var drawingManager = new google.maps.drawing.DrawingManager({
        drawingMode: google.maps.drawing.OverlayType.POLYGON,
        drawingControl: true,
        drawingControlOptions: {
          position: google.maps.ControlPosition.TOP_CENTER,
          drawingModes: [
            google.maps.drawing.OverlayType.POLYGON,
          ]
        },
        polygonOptions: {
          fillColor: '#BCDCF9',
          fillOpacity: 0.5,
          strokeWeight: 2,
          strokeColor: '#57ACF9',
          clickable: false,
          editable: false,
          zIndex: 1
        }
      });
      drawingManager.setMap(handler.getMap())

      google.maps.event.addListener(drawingManager, 'polygoncomplete', function (polygon) {
        store_zone_points(polygon)
      });
    }else{
      //Show and Edit
      var zonePolygon = new google.maps.Polygon({
        paths: <%=raw zone_points.to_json %>,
        strokeColor: '#57ACF9',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#BCDCF9',
        fillOpacity: 0.35,
        editable: (is_read_only!=="true")
      });
      zonePolygon.setMap(handler.getMap());
      if (is_read_only!=="true") {
        store_zone_points(zonePolygon)
      };

      //Edit
      zonePolygon.getPaths().forEach(function(path, index){
        google.maps.event.addListener(path, 'insert_at', function(){
          store_zone_points(zonePolygon)
        });

        google.maps.event.addListener(path, 'remove_at', function(){
          store_zone_points(zonePolygon)
        });

        google.maps.event.addListener(path, 'set_at', function(){
          store_zone_points(zonePolygon)
        });
      });
    };
    handler.map.centerOn([<%=map_center[0]%>, <%=map_center[1]%>]);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);

  });
</script>