<%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
<%= yield :javascripts %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  var markers = []
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    loc_new = "<%= loc.nil? %>"
    if (loc_new=="true") { 
      handler.fitMapToBounds();
      handler.map.centerOn([-12.046374, -77.042793]);
      handler.getMap().setZoom(14);
    }else{
      markers = handler.addMarkers([{
        "lat": "<%= loc[0] unless loc.nil? %>",
        "lng": "<%= loc[1] unless loc.nil? %>"
      }]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    };

    google.maps.event.addListener(handler.getMap(), 'click', function(event){
      handler.removeMarkers(markers)
      markers = handler.addMarkers([
      {
        "lat": event.latLng.lat(),
        "lng": event.latLng.lng()
      }]);
      document.getElementById("company_latitude").value = event.latLng.lat();
      document.getElementById("company_longitude").value = event.latLng.lng();
    });

  });

</script>