<%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
<%= yield :javascripts %>

  <form method="get" id="locations_search" class="filter_form" action="/admin/mapa_de_ordenes/scope_markers" accept-charset="UTF-8">
    <fieldset class="inputs">
      <ol class="filter_form_field filter_string">
        <li class="select input string">
          <label for="order_begin_date" class="label">Desde:</label>
          <%= date_field_tag 'q[begin_date]', (params[:begin_date] unless params.nil?), id: "order_begin_date"%>
        </li>
        <li class="input string">
          <label for="order_end_date" class="label">Hasta:</label>
          <%= date_field_tag 'q[end_date]', (params[:end_date] unless params.nil?), id: "order_end_date"%>
        </li>
        <li class="input string">
          <label for="order_company" class="label">Compañía: </label>
          <%= select_tag "q[order_company]", content_tag(:option,'Selecciona una...',:value=>"") + options_from_collection_for_select(Company.all, "id", "name", (params[:order_company] unless params.nil?)), id: 'order_company'%>
        </li>
        <li class="select input string">
          <label for="order_state" class="label">Estado:</label>
          <%= select_tag "q[order_state]", content_tag(:option,'Selecciona un estado...',:value=>"") + options_from_collection_for_select(OrderState.all, "id", "name", (params[:order_state] unless params.nil?)), id: 'order_company'%>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <ol>
        <li>
          <input type="submit" value="Filtrar" name="commit" id="order_submit" />
        </li>
      </ol>
    </fieldset>
  </form>
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 600px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = [];
    markers = handler.addMarkers(<%=raw orders.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
</script>