<% if flash[:notice] %>
  <div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
    <div class="clearfix">
      <div class="grid_12">
        <% if notice %>
          <p><%= notice %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<ul class="notifications-list">
    <% orders.each do |order| %>
      <li class="notification-detail">
        <%= link_to "Orden ##{order.id} pedida el #{order.created_at.strftime("%d de %b")} a las #{order.created_at.strftime("%R")} para la companía #{order.company.name}",  admin_order_path(order), :class => 'btn btn-mini', :target => "_blank" %>
      </li>
    <% end %>
</ul>