<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- CSS Reset -->
    <style>

        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin:0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }

        /* What it does: A work-around for email clients meddling in triggered links. */
        *[x-apple-data-detectors],  /* iOS */
        .x-gmail-data-detectors,  /* Gmail */
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
        .a6S {
          display: none !important;
          opacity: 0.01 !important;
        }
        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
          display:none !important;
      }

        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }

    </style>


    <!-- Progressive Enhancements -->
    <style>

        /* What it does: Hover styles for buttons */
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        .button-td:hover,
        .button-a:hover {
            background: #555555 !important;
            border-color: #555555 !important;
        }

  </style>

  <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

    <style type="text/css">
    body{
      margin: 0
    }
  
    .mailer-container{
      margin: 0 auto;
      max-width: 666px;
    }

    .mailer-container h1,h2,h3,p, div{
      font-family: 'Arial';
      font-size: 18px;
      font-weight: 100;
    }

    .mailer-container .header-image img{
      width: 100%;
    } 

    .mailer-container .thanks-title{
      color: black;
      margin: 0 0 20px 0;
      text-align: center;
    }

    .mailer-container .order-content-container{
      padding: 40px 50px 10px;
    }

    .mailer-container .order-content-container .order-content{
      padding: 0 15px;
    }

    .mailer-container .order-content-container .order-content p{
      color: black;
      font-family: 'Arial';
      font-size: 14px;
      font-weight: 100;
    }

    .mailer-container .order-content-container .order-content p{
      color: #b8b8b8;
    }

    .mailer-container .order-content-container .order-content p span.phone-number{
      font-weight: bold;
    }

    .mailer-container .order-content-container .order-content .black-field,
    .mailer-container .order-content-container .order-details-table .black-field{
      color: black;
    }

    .mailer-container .order-content-container .order-details-table{
      width: 100%;
      border-radius: 5px 5px 0 0;
      border: 1px #c6c6c6 solid;
    }

    .mailer-container .order-content-container .order-details-table .order-details-head .table-header-title{
      background: linear-gradient(to right, #833f71 , #d7323f);
      border-radius: 5px 5px 0 0;
      color: white;
      font-weight: 100;
      line-height: 60px;
      height: 60px;
      text-align: center;
    }

    .mailer-container .order-content-container .order-details-table .order-details-body{
      margin-top: 20px;
      overflow: auto;
      padding-bottom: 15px;
    }

    .mailer-container .order-content-container .order-details-table .order-details-body div{
      font-size: 14px;
    }

    .mailer-container .order-content-container .order-details-table .order-details-body .product-col{
      border-right: 1px #c6c6c6 solid;
      padding-left: 4%;
      width:45%
    }

    .mailer-container .order-content-container .order-details-table .order-details-body .unit-col{
      border-right: 1px #c6c6c6 solid;
      text-align: center;
      width:15%
    }

    .mailer-container .order-content-container .order-details-table .order-details-body .price-col{
      padding-left: 3%;
      width:25%  
    }

    .mailer-container .order-content-container .order-details-table .order-details-rows,
    .mailer-container .order-details-body .table-header-subtitles,
    .mailer-container .order-content-container .order-details-table .order-details-delivery,.mailer-container .order-content-container .order-details-table .order-details-coupon{
      overflow: auto;
    }

    .mailer-container .order-content-container .order-details-table .order-details-rows div{
      color: black;
      float: left;
      overflow: auto;
      padding-bottom: 15px;
    }


    .mailer-container .order-details-body .table-header-subtitles div{
      color: black;
      float: left;
      font-weight: 600;
      padding-bottom: 20px;
    }

    .mailer-container .order-content-container .order-details-table .order-details-delivery, .mailer-container .order-content-container .order-details-table .order-details-coupon{
      border-top: 1px #c6c6c6 solid;
      padding: 15px 0;
    }

    .mailer-container .order-content-container .order-details-table .order-details-delivery .delivery-label-col, .mailer-container .order-content-container .order-details-table .order-details-coupon .coupon-label-col{
      color: #b8b8b8;
      float: left;
      padding-left: 4%;
      width: 60%
    }

    .mailer-container .order-content-container .order-details-table .order-details-coupon .coupon-label-desc-col{
      color: #b8b8b8;
      float: left;
      font-size: 12px;
      padding-left: 13%;
      width: 60%
    }

    .mailer-container .order-content-container .order-details-table .order-details-delivery .delivery-amount-col,.mailer-container .order-content-container .order-details-table .order-details-coupon .coupon-amount-col{
      color: #c6c6c6;
      float: left;
      font-weight: 600;
      padding-left: 3%;
      width:30%
    }

    .mailer-container .order-content-container .order-details-table .order-details-delivery .delivery-amount-col.delivery-free{
      color: #59c935;
    }

    .mailer-container .order-content-container .order-details-table .order-details-total{
      border-top: 1px #c6c6c6 solid;
      padding-top: 15px;
    }

    .mailer-container .order-content-container .order-details-table .order-details-total .total-amount-col,
    .mailer-container .order-content-container .order-details-table .order-details-total .total-label-col{
      color: #4c7cff;
      float: left;
      font-size: 18px;
      font-weight: 600;
      padding-left: 3%;
      width:30%
    }

    .mailer-container .order-content-container .order-details-table .order-details-total .total-label-col{
      padding-left: 4%;
      width:60%
    }

    .mailer-container .footer{
      background: #b8b8b8;
      height: 120px;
      padding: 20px;
    }

    .mailer-container .footer p{
      font-size: 10px;
    }

    .mailer-container .mailer-store-buttons{
      background: url(<%= image_path('mailer_footer.png')%>) transparent no-repeat;
      background-size: cover;
      background-position: left bottom;
      height: 194px;
    }

    .mailer-container .mailer-store-buttons .buttons-container{
      float: right;
      margin: 15px 0;
      text-align: center;
      width: 70%;
    }

    .mailer-container .mailer-store-buttons .points-label{
      color: white;
      float: right;
      font-size: 22px;
      font-weight: 600;
      padding-top: 75px;
      text-align: center;
      width: 70%;
    }

    .mailer-container .order-content-container .order-delivery-points{
      color: #b8b8b8;
      font-size: 14px;
      margin: 20px 0;
      text-align: right;
    }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-details-table .order-details-delivery{
        border-top: none !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .order-details-body .table-header-subtitles div{
        font-size: 12px !important;  
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-details-table .order-details-delivery div{
        font-size: 12px !important;
      }
    }
    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-details-table .order-details-rows div{
        font-size: 12px !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-details-table .order-details-body .product-col,
      .mailer-container .order-content-container .order-details-table .order-details-body .unit-col{
        border-right: none !important;
      }
     }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-content{
        padding: 0 !important;
      }
     }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container{
        padding: 40px 20px 10px !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons{
        background: url(<%= image_path('mailer_footer_small.png')%>) transparent no-repeat !important;
        background-size: cover !important;
        height: 107px !important;
      }
    } 
    
    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons .points-label{
        font-size: 17px !important;
        padding-top: 30px !important;
        text-align: left !important;
        width: 60% !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons .buttons-container{
        margin: 5px 0 !important;
        width: 60% !important;
        text-align: left !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons .buttons-container img{
        max-width: 80px !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .order-content-container .order-details-table .order-details-total div{
        font-size: 14px !important;
      }
    }


    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons .buttons-container .ios-btn img{
        content: url(<%= image_path('ios_btn_small.png')%>) !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .mailer-store-buttons .buttons-container .android-btn img{
        content: url(<%= image_path('android_btn_small.png')%>) !important;
      }
    }

    @media screen and (max-width: 480px) {
      .mailer-container .footer{
        height: 200px !important; 
      }
    }

    </style>
  </head>
  <body>
    <div class="mailer-container">
      <div class="header-image"><%= image_tag 'mailer_header.png' %></div>
      <div class="order-content-container">
        <h1 class="thanks-title">¡Gracias por tu preferencia <%= @user.full_name %>!</h1>
        <div class="order-content">
        	<p>Ya recibimos tu pedido. En breve te llamaremos al <span class="phone-number black-field"><%= @user.phone_number%></span>. Si tienes alguna duda o comentario puedes comunicarte al: 959 026 979</p>
        	<p>ID de orden: <span class="black-field"><%= @order.id %></span><br>
        	Fecha del pedido: <span class="black-field"><%= l @order.created_at, :format => "%d de %B, a las %I:%M %P", :locale => 'es' %></span><br>
        	Tu número telefónico: <span class="black-field phone-number"><%= @user.phone_number %></span><br>
        	Dirección de entrega: <span class="black-field"><%= @order.delivery_address %></span><br>
        	Referencias: <span class="black-field"><%= @order.address_reference %></span><br>
          Paga con: <span class="black-field"><%= (@order.payment_method == "VISA" ? "VISA POS" : "Efectivo") %></span>
          <%if @order.payment_method == "CASH" and !@order.cash_amount.nil?%>
            <br>Monto: <span class="black-field">S/. <%= number_with_precision(@order.cash_amount, :precision => 2) %></span>
          <%end%>
          </p>
        </div>
        <div class="order-details-table">
          <div class="order-details-head">
            <div class="table-header-title">Resumen de tu orden</div>
          </div>
          <div class="order-details-body">
            <div class="table-header-subtitles">
              <div class="product-col black-field">Producto</div>
              <div class="unit-col black-field">Unidad</div>
              <div class="price-col black-field">Precio</div>
            </div>
             <%- @order.combo_orders.each do |co| %>
              <div class="order-details-rows">
                <div class="product-col"><%=co.combo.name%></div>
                <div class="unit-col"><%=co.qty%></div>
                <div class="price-col">S/. <%=number_with_precision(co.subtotal, :precision => 2)%></div>
              </div>
            <% end -%>
            <% @order.order_details.each do |od| %>
            <div class="order-details-rows">
              <div class="product-col"><%=od.product.name%></div>
                <div class="unit-col"><%=od.qty%></div>
                <div class="price-col"><%=number_with_precision(od.subtotal, :precision => 2)%></div>
            </div>
            <% end %>
            <div class="order-details-delivery">
              <div class="delivery-label-col">Costo por delivery</div>
              <%if @order.order_delivery_fee > 0 %>
                <div class="delivery-amount-col">S/. <%=@order.order_delivery_fee%></div>
              <%else%>
                <div class="delivery-amount-col delivery-free">Gratis</div>
              <%end%>
            </div>
            <%if !@order.applied_coupon.nil? %>
              <%coupon = Coupon.find(@order.applied_coupon)%>
              <div class="order-details-coupon">
                <div class="coupon-label-col">Cupón: 
                  <span class="black-field"> <%=coupon.code%></span>
                </div>
                <div class="coupon-amount-col">S/. -<%=number_with_precision(coupon.discount_amount*(@order.total-@order.order_delivery_fee)/(100-coupon.discount_amount), :precision => 2) %>
                </div>
                <div class="coupon-label-desc-col"><small style><%=coupon.description%></small></div>
              </div>
            <%end%>
            <div class="order-details-total">
              <div class="total-label-col">TOTAL A PAGAR</div>
              <div class="total-amount-col">S/. <%= number_with_precision(@order.total, :precision => 2) %></div>
            </div>
          </div>
        </div>
        <div class="order-delivery-points">
          Ganaste <%= @order.fidelity_points%> puntos
        </div>
      </div>
      <div class="mailer-store-buttons">
        <div class="points-label">Todas tus compras acumulan puntos</div>
        <div class="buttons-container">
          <a target="_blank" href="https://itunes.apple.com/us/app/bar-app-delivery/id1098282851?l=es&ls=1&mt=8" class="ios-btn"><%= image_tag 'ios_btn.png' %></a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.services.barralibre.barapp" class="android-btn"><%= image_tag 'android_btn.png' %></a>
        </div>
      </div>
      <div class="footer">
        <p>FORMAS DE PAGO: Para pagos contra entrega se aceptan Tarjetas de crédito y débito Visa y pago con efectivo.</p>

        <p>BAR APP S.A.C se adhiere a lo establecido por el Decreto Ley N° 28493, el cual regula el uso de correo electrónico comercial no solicitado. “Un email no podrá ser considerado No Deseado mientras incluya la forma de ser removido”.</p>

        <p>BAR APP S.A.C</p>

        <p>Este mail fue enviado a: <a href="mailto:<%= @user.email %>"><%= @user.email %></a> / Usted ha recibido este correo porque es usuario registrado de BAR APP SAC. Si usted no desea recibir más correos por favor comuníquese a <a href="mailto:hola@barappdelivery.com">hola@barappdelivery.com</a></p>
      </div>
    </div>
  </body>
</html>