¡Gracias por tu preferencia <%= @user.full_name %>!

Ya recibimos tu pedido. En breve te llamaremos al <%= @user.phone_number%>. Si tienes alguna duda o comentario puedes comunicarte al: 959 026 979

ID de orden: <%= @order.id %>
Fecha del pedido: <%= l @order.created_at, :format => "%d de %B, a las %I:%M %P", :locale => 'es' %>
Tu número telefónico: <%= @user.phone_number %>
Dirección de entrega: <%= @order.delivery_address %>
Referencias: <%= @order.address_reference %>
Paga con: <%= (@order.payment_method == "VISA" ? "VISA POS" : "Efectivo") %>
<%if @order.payment_method == "CASH" and !@order.cash_amount.nil?%>
Monto: S/. <%= number_with_precision(@order.cash_amount, :precision => 2) %>
<%end%>
<%if @order.order_details.count>0%>

Productos:
<%= @order.products_string%>
<%end%>
<%if @order.combo_orders.count>0%>

Combos:
<%= @order.combos_string%>
<%end%>

Delivery: <%= (@order.order_delivery_fee > 0 ? "S/. #{@order.order_delivery_fee}" : "Gratis")%>
Total: S/. <%= number_with_precision(@order.total, :precision => 2) %>
Ganaste <%= @order.fidelity_points%> puntos

Todas tus compras acumulan puntos

FORMAS DE PAGO: Para pagos contra entrega se aceptan Tarjetas de crédito y débito Visa y pago con efectivo.

BAR APP S.A.C se adhiere a lo establecido por el Decreto Ley N° 28493, el cual regula el uso de correo electrónico comercial no solicitado. "Un email no podrá ser considerado No Deseado mientras incluya la forma de ser removido".

BAR APP S.A.C

Este mail fue enviado a: <%= @user.email %> / Usted ha recibido este correo porque es usuario registrado de BAR APP SAC. Si usted no desea recibir más correos por favor comuníquese a hola@barappdelivery.com