jQuery(document).ready(function($) {
   var pusher = new Pusher('c62c75354b84180cccae', {
      encrypted: true
    });

    var channel = pusher.subscribe('bar_app_order_created_channel');
    channel.bind('order_created', function(data) {
        audio = new Audio("<%= audio_path('q125b.mp3') %>");
        $.ajax({
            type: "POST",
            url: '/admin/orders/new_order_arrived',
            data: {
                company_id: data.company
            },
            success: function(data) {
                if (data!=undefined){
                    audio.play();
                    $('#orders_list').html(data);
                }
            }
        });
    });

    $('body').on( "click", ".flash-message", function() {
      $('.flash-message').remove()
    });
});