// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order-notifications-table{

	ul.notifications-list{
		width: 50%;
		border: 1px solid black;
		padding: 0;
		li.notification-detail{
			list-style: none;
		    padding: 10px;
		    background-color: #efefef;
		    border-bottom: 1px solid black;
		    a{
		        display: block;
		    	font-size: 1rem;
		    	text-decoration: none;
		    }
		}
	}

	.flash-message {
	  &.error {
	    border: solid 4px #900;
	          background-color: #FF6565;
	        }
	  &.notice {
	    border: solid 4px #26722D;
	          background-color: #A4E7A0;
	        }
	  color: black;
	  font-weight: bold;
	  width: 96%;
	  margin: 5px 0;
	        p {
	                font-size: 110%;
	                margin: 5px;
	        }
	}
}

